@import '_variables';
@import '_mixins';

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  &:focus {
    outline: none;
  }
  @include range-thumb;
  @include range-track;
  @include msFill;
}
